## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [2]:
lista_ciudades = ["Nueva York","Londres","París","Tokio","Los Ángeles"]
print(lista_ciudades)

['Nueva York', 'Londres', 'París', 'Tokio', 'Los Ángeles']

2) Imprimir por pantalla el segundo elemento de la lista

In [5]:
lista_ciudades[1]

'Londres'

3) Imprimir por pantalla del segundo al cuarto elemento

In [6]:
lista_ciudades[1:4]

['Londres', 'París', 'Hong Kong']

4) Visualizar el tipo de dato de la lista

In [8]:
type(lista_ciudades)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [7]:
lista_ciudades[2:]

['París',
 'Hong Kong',
 'Tokio',
 'Los Ángeles',
 'Londres',
 'Chicago',
 'La Plata',
 'El Carmen']

6) Visualizar los primeros 4 elementos de la lista

In [10]:
lista_ciudades[:4]

['Nueva York', 'Londres', 'París', 'Tokio']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [3]:
lista_ciudades.append("Londres")
lista_ciudades.append("Chicago")
#No arroja ningun tipo de error

8) Agregar otra ciudad, pero en la cuarta posición

In [4]:
lista_ciudades.insert(3,"Hong Kong")

9) Concatenar otra lista a la ya creada

In [5]:
lista_ciudades.extend(["La Plata","El Carmen"])

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [8]:
lista_ciudades.index("Londres")
#se muestra el indice de la primera ciudad encontrada

1

11) ¿Qué pasa si se busca un elemento que no existe?

In [12]:
lista_ciudades.index("Lima")

ValueError: 'Lima' is not in list

12) Eliminar un elemento de la lista

In [14]:
lista_ciudades.remove("El Carmen")
print(lista_ciudades)

['Nueva York', 'Londres', 'París', 'Hong Kong', 'Tokio', 'Los Ángeles', 'Londres', 'Chicago', 'La Plata']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [15]:
lista_ciudades.remove("El Carmen")
print(lista_ciudades)

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [16]:
print(lista_ciudades)
ultimo = lista_ciudades.pop()
print(ultimo)
print(lista_ciudades)

['Nueva York', 'Londres', 'París', 'Hong Kong', 'Tokio', 'Los Ángeles', 'Londres', 'Chicago', 'La Plata']
La Plata
['Nueva York', 'Londres', 'París', 'Hong Kong', 'Tokio', 'Los Ángeles', 'Londres', 'Chicago']

15) Mostrar la lista multiplicada por 4

In [17]:
print(lista_ciudades*4)

['Nueva York', 'Londres', 'París', 'Hong Kong', 'Tokio', 'Los Ángeles', 'Londres', 'Chicago', 'Nueva York', 'Londres', 'París', 'Hong Kong', 'Tokio', 'Los Ángeles', 'Londres', 'Chicago', 'Nueva York', 'Londres', 'París', 'Hong Kong', 'Tokio', 'Los Ángeles', 'Londres', 'Chicago', 'Nueva York', 'Londres', 'París', 'Hong Kong', 'Tokio', 'Los Ángeles', 'Londres', 'Chicago']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [19]:
tupla_numeros = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(tupla_numeros)
type(tupla_numeros)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

tuple

17) Imprimir desde el índice 10 al 15 de la tupla

In [22]:
print(tupla_numeros[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [26]:
20 and 30 in tupla_numeros

False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [36]:
elem="París"
if((elem in lista_ciudades) == False):
    lista_ciudades.append(elem)
    print("Se agrego el nuevo elemento")
else:
    print("El elemento ya existe")

print(lista_ciudades)

El elemento ya existe
['Nueva York', 'Londres', 'París', 'Hong Kong', 'Tokio', 'Los Ángeles', 'Londres', 'Chicago']

True

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [41]:
print("Londres se encuentra "+ str(lista_ciudades.count("Londres")) +" veces en la lista")
print("El numero 4 se encuentra " + str(tupla_numeros.count(4)) + " veces en la tupla")

Londres se encuentra 2 veces en la lista
El numero 4 se encuentra 1 veces en la tupla

21) Convertir la tupla en una lista

In [43]:
lista_numeros = list(tupla_numeros)
type(lista_numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [46]:
var1 = tupla_numeros[0]
var2 = tupla_numeros[1]
var3 = tupla_numeros[2]
print("Primer elemento: "  + str(var1))
print("Segundo elemento: " + str(var2))
print("Tercer elemento: " + str(var3))

Primer elemento: 1
Segundo elemento: 2
Tercer elemento: 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [47]:
diccionario = {"ciudad":lista_ciudades,"Pais":"Argentina","Continente":"America"}

24) Imprimir las claves del diccionario

In [48]:
diccionario

{'ciudad': ['Nueva York',
  'Londres',
  'París',
  'Hong Kong',
  'Tokio',
  'Los Ángeles',
  'Londres',
  'Chicago'],
 'Pais': 'Argentina',
 'Continente': 'America'}

25) Imprimir las ciudades a través de su clave

In [49]:
diccionario["ciudad"]

['Nueva York',
 'Londres',
 'París',
 'Hong Kong',
 'Tokio',
 'Los Ángeles',
 'Londres',
 'Chicago']